version: '3'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ..:/workspace:cached
      - bundle_cache:/bundle

    ports:
      - '3000:3000'

    command: sleep infinity

    environment:
      REDIS_URL: redis://redis:6379/1
      DB_HOST: db
      RAILS_MASTER_KEY: "${RAILS_MASTER_KEY}"
      TZ: America/New_York

    depends_on:
      - db
      - redis

  redis:
    image: redis:latest
    ports:
      - '6379:6379'

  db:
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    shm_size: 1g
    command: postgres -c 'max_locks_per_transaction=250'

  mailgun:
    image: marlonb/mailcrab:latest
    logging:
      driver: 'none'
    ports:
      - 1025:1025
      - 8025:8025

volumes:
  postgres-data:
  bundle_cache:
